/* Resets credits to @hstrejoluna */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Block: header */
.header {
    height: 100px;
    background-color: #4D4D5C;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Element: logo */
.header__logo {
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
}

/* Element: menu */
.header__menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

/* Element: show-menu */
.header__show-menu,
.header__hide-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

/* Modifier: show-menu */
.header__show-menu {
    order: 1;
}

/* Modifier: hover */
.header__menu a:hover,
.header__show-menu:hover,
.header__hide-menu:hover {
    color: #6cc091;
}

/* Element: check */
#check {
    display: none;
}

/* Block: banner */
#banner {
    padding: 0 50px;
    background-image: url(../images/banner.jpg);
    height: 45vh;
    background-size: cover;
    position: center;
}

/* Element: banner__content */
#banner .banner__content {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Element: banner-heading */
#banner .banner__content h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* Element: banner-heading span */
#banner .banner__content h3 span {
    font-weight: 600;
}

/* Element: start_button */
.banner__start-button {
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc091;
    padding: 20px 40px;
    align-self: baseline;
}

/* Modifier: hover */
.banner__start-button:hover {
    background: #6cc09070;
    transition: all 0.4s;
}

/* Block: people */
#people {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Element: people-image */
#people img {
    border-radius: 50%;
}

/* Element: people-content */
#people div {
    padding: 30px 30px;
}

/* Element: people-heading */
#people div h4 {
    color: #4D4D5C;
    font-size: 20px;
    margin: 15px 0px;
}

/* Element: people-description */
#people div p {
    color: #4d4d5c87;
    font-size: 18px;
}

/* Element: learn_more-button */
.people__learn-more-button {
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

/* Modifier: hover */
.people__learn-more-button:hover {
    background: #6cc091;
    color: #fff;
}

/* Block: icons */
#icons {
    padding: 0px 50px;
    background: rgba(77, 77, 92, 0.6);
}

/* Element: icons-container */
#icons .icons-container {
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Element: icons-content */
#icons .icons-container div {
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

/* Modifier: icon-mobile */
#icons #icon-mobile {
    border: none;
}

/* Element: icons-icon */
#icons .icons-container div i {
    color: #6cc091;
}

/* Element: icons-heading */
#icons .icons-container div h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

/* Element: icons-description */
#icons .icons-container div p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
}

.icons-button {
    text-align: center;
    padding-bottom: 50px;
}

.icons-button__learn-more-button {
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

/* Block: contact */
#contact {
    background: #6cc091;
    padding: 50px 0px;
    color: #fff;
}

/* Element: contact-heading */
#contact h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

/* Element: contact-form */
#contact form {
    max-width: 80%;
    margin: 0 auto;
}

/* Element: data-form */
.data-form {
    display: flex;
}

/* Element: form-field */
.data-form div {
    padding: 10px;
    flex: 1;
}

/* Element: form-label */
form label {
    display: block;
    margin-bottom: 10px;
}

/* Element: form-input, form-textarea */
form input,
form textarea {
    background: #6cc091;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #fff;
    width: 100%;
}

/* Modifier: focus */
form input:focus,
form textarea:focus {
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}

/* Element: form-placeholder */
form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

/* Element: message */
.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Element: form-button */
.form-button .learn_more-button {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    transition: 0.4s;
}

/* Modifier: hover */
.form-button .learn_more-button:hover {
    background: #4fa776ad;
}

.contact__learn-more-button {
    display: block;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    transition: 0.4s;
    border-radius: 30px;
    text-decoration: none;
}

.contact__learn-more:hover {
    background: #4fa776ad;
}

/* Block: footer */
footer {
    background: #4D4D5C;
    color: #cccccc4a;
    text-align: center;
    padding: 10px 0px;
}

/* Responsive */
@media(max-width: 768px) {
    /* Block: header */
    .header__show-menu,
    .header__hide-menu {
        display: block;
    }

    /* Element: menu */
    .header__menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4D4D5C;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    /* Element: menu a */
    .header__menu a {
        display: block;
        padding: 20px;
    }

    /* Element: hide-menu */
    .header__hide-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    /* Modifier: check */
    #check:checked ~ .header__menu {
        right: 0;
    }

    /* Block: people */
    #people {
        flex-direction: column;
    }

    /* Block: icons */
    .icons-container {
        flex-direction: column;
    }

    /* Element: icons-content */
    .icons-container div {
        border: none;
    }

    /* Block: contact */
    .data-form {
        flex-direction: column;
    }
}
